.icon::before {
  content: "";
  width: 30px;
  height: 31px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon-plus::before {
  background-image: url(./assets/images/icon-plus.svg);
}

.icon-minus::before {
  background-image: url(./assets/images/icon-minus.svg);
}

.accordion-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
