*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon::before {
  content: "";
  width: 30px;
  height: 31px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon-plus::before {
  background-image: url(./assets/images/icon-plus.svg);
}

.icon-minus::before {
  background-image: url(./assets/images/icon-minus.svg);
}

.accordion-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

.accordion-content {
  display: none;
}

.accordion-content.active {
  display: block;
}
